<!doctype html>
<html lang="en" data-framework="marionettejs">

<head>
  <meta charset="utf-8">
  <title>Backbone.Marionette & Requirejs • TodoMVC</title>
  <link rel="stylesheet" href="stylesheets/all.css">
</head>

<body>

  <section class="todoapp">
    <div id="bannerRegion"></div>
    <div id="notepadRegion"></div>
    <div id="filtersRegion"></div>
    <div id="infoRegion"></div>
  </section>

  <script data-main="app/main" src="bower_components/requirejs/require.js"></script>
</body>

</html>
