<!doctype html>
<html lang="en" data-framework="marionettejs">
<head>
  <meta charset="utf-8">
  <title>Backbone.Marionette & Requirejs • TodoMVC</title>
  <link rel="stylesheet" href="stylesheets/base.css">
  <!--<link rel="stylesheet" href="stylesheets/custom.css">-->
</head>
<body>
<section class="todoapp">
  <div class="notepad">
    <div id="headerRegion" class="header"></div>
    <div id="listRegion"></div>
  </div>
  <div id="filterRegion"></div>
</section>
<footer id="info">
  <p>Double-click to edit a todo</p>
  <p>Created by <a href="http://github.com/jsoverson">Jarrod Overson</a></p>
</footer>

<script data-main="app/main" src="bower_components/requirejs/require.js"></script>
</body>
</html>
